
page-home {
    .larger {
        font-size: 50px;
    }
    .backgroundGrey {
        background :#eee
    }
    .revenew{
        font-size: 25px;
        color:#bbb;
        text-align: right
    }
}